/*  your css code here. If applicable */
.container{
height:200px;
width:500px;
border:solid black;
background-color:lightgray;
border-radius:50px;
	display:flex;
	justify-content:center;
}
.green{
background-color:green;
	height:100px;
	width:100px;
	border-radius:50%;
}
.yellow{
background-color:yellow;
	height:100px;
	width:100px;
	border-radius:50%;
}
.red{
background-color:red;
	height:100px;
	width:100px;
	border-radius:50%;
	
}